@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.Card {
  padding: 25px;
  width: 400px;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.CardImage > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.CardTitle > h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin: 15px 0;
}
.CardContent > p {
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}
